<body class="u-body u-xl-mode">
  <header class="u-black u-clearfix u-header u-header" id="sec-88c5">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-text u-text-default u-text-1">BOLD POS</p>
      <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="20" data-image-height="33">
        <img src="images/Group2_150.png" class="u-logo-image u-logo-image-1" />
      </a>
      <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#" style="padding: 0px 2px; font-size: calc(1em + 0px)">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xlink:href="#menu-hamburger"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item">
              <a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-1 u-text-white"
                href="Point-of-Sale.html" style="padding: 10px 38px">Point of Sale</a>
            </li>
            <li class="u-nav-item">
              <%= link_to hardware_path, class: 'u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-1 u-text-white', styel: 'padding: 10px 38px' do %>
                Hardware
              <% end %>
            </li>
            <li class="u-nav-item">
              <a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-1 u-text-white"
                style="padding: 10px 38px">Help</a>
            </li>
            <li class="u-nav-item">
              <a class="u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-custom-color-1 u-text-white"
                style="padding: 10px 45px 10px 38px">Login</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="Point-of-Sale.html">Point of Sale</a>
                </li>
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="Hardware.html">Hardware</a>
                </li>
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link">Help</a>
                </li>
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link">Login</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
      <p class="u-text u-text-default u-text-2" spellcheck="false">
        Blockchain Point of Sale
      </p>
      <a href="https://nicepage.com/website-design"
        class="u-align-left u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-1 u-radius-5 u-btn-1"
        spellcheck="false">Shop Now</a>
    </div>
  </header>
  <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280"
    data-image-height="607" id="sec-ebf7">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-left u-text u-title u-text-1" spellcheck="false">
        BOLD POS for&nbsp; Quick Service, Retail &amp; Restaurants
      </h1>
      <p class="u-align-left u-large-text u-text u-text-variant u-text-2" spellcheck="false">
        We've done it carefully and simply. Combined with the ingredients
        makes for beautiful landings. It is definitely the tool you need to
        speed up your design process.
      </p>
      <p class="u-align-left u-text u-text-3" spellcheck="false">
        All-in-One POS System
      </p>
      <a href="https://nicepage.com/website-design"
        class="u-align-left u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-1 u-radius-5 u-btn-1"
        spellcheck="false">Book Your <span style="font-size: 1rem">D</span>emo Today<br />
      </a>
      <img class="u-image u-image-default u-image-1" src="images/arrow.svg" alt="" data-image-width="25"
        data-image-height="14" />
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="sec-8906">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-default-xl u-text-1" spellcheck="false">
        How can we help ​your business
      </h2>
      <p class="u-text u-text-2" spellcheck="false">
        We've done it carefully and simply. Combined with the ingredients
        makes for beautiful landings. It is definitely the tool you need to
        speed up your design process.
      </p>
      <div class="u-clearfix u-gutter-44 u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-image-contain u-layout-cell u-left-cell u-size-15 u-image-1" src=""
              data-image-width="67" data-image-height="43">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-style u-image u-image-contain u-layout-cell u-size-15 u-image-2" src=""
              data-image-width="81" data-image-height="32">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
            <div class="u-container-style u-image u-image-contain u-layout-cell u-size-15 u-image-3" src=""
              data-image-width="43" data-image-height="43">
              <div class="u-container-layout u-container-layout-3"></div>
            </div>
            <div class="u-container-style u-image u-image-contain u-layout-cell u-right-cell u-size-15 u-image-4" src=""
              data-image-width="73" data-image-height="43">
              <div class="u-container-layout u-container-layout-4"></div>
            </div>
          </div>
        </div>
      </div>
      <p class="u-text u-text-3" spellcheck="false">
        As businesses start to reopen, contactless is going to be the new
        normal. We can provide free contactless options to make sure you’re
        ready!
      </p>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-5" data-image-width="680"
                data-image-height="460" src="images/contactless_payment2x.png" />
              <p class="u-text u-text-4" spellcheck="false">
                Contactless Payment Device
              </p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-6" data-image-width="860"
                data-image-height="460" src="images/qr_code_ordering2x.png" />
              <p class="u-text u-text-5" spellcheck="false">
                QR Code Ordering &amp; Payments
              </p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-7">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-7" data-image-width="680"
                data-image-height="460" src="images/online_ordering2x.png" />
              <p class="u-text u-text-6" spellcheck="false">
                Online Ordering
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-image u-section-3" id="sec-5387" data-image-width="1280" data-image-height="760">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2
        class="u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-body-alt-color u-text-default-lg u-text-default-md u-text-default-xl u-text-1"
        spellcheck="false">
        How can we help ​your business
      </h2>
      <p class="u-align-center u-text u-text-body-alt-color u-text-2" spellcheck="false">
        We've done it carefully and simply. Combined with the ingredients
        makes for beautiful landings. It is definitely the tool you need to
        speed up your design process.
      </p>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-4" id="carousel_4a25">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-text u-text-1" spellcheck="false">
        How can we help ​your business
      </h2>
      <p class="u-align-center u-text u-text-2" spellcheck="false">
        We've done it carefully and simply. Combined with the ingredients
        makes for beautiful landings. It is definitely the tool you need to
        speed up your design process.
      </p>
      <div class="u-clearfix u-gutter-18 u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-20-lg u-size-20-md u-size-20-xl u-size-60-sm u-size-60-xs">
              <div class="u-layout-col">
                <div
                  class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-size-60-md u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <div
                  class="u-align-left u-container-style u-image u-image-contain u-image-round u-layout-cell u-radius-5 u-shape-rectangle u-size-20 u-size-30-md u-image-1"
                  data-image-width="754" data-image-height="920">
                  <div class="u-container-layout u-container-layout-2">
                    <p class="u-text u-text-body-alt-color u-text-3">
                      Quick Service
                    </p>
                    <img class="u-image u-image-default u-preserve-proportions u-image-2" src="images/arrow-1.svg"
                      alt="" data-image-width="60" data-image-height="35" />
                  </div>
                </div>
                <div
                  class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-size-30-md u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
              </div>
            </div>
            <div class="u-size-20-lg u-size-20-md u-size-20-xl u-size-60-sm u-size-60-xs">
              <div class="u-layout-col">
                <div
                  class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-radius-5 u-size-30 u-image-3"
                  data-image-width="754" data-image-height="920">
                  <div class="u-container-layout u-container-layout-4">
                    <p class="u-text u-text-body-alt-color u-text-4">
                      Service
                    </p>
                    <img class="u-image u-image-default u-preserve-proportions u-image-4" src="images/arrow-1.svg"
                      alt="" data-image-width="60" data-image-height="35" />
                  </div>
                </div>
                <div
                  class="u-align-left u-container-style u-image u-image-contain u-image-round u-layout-cell u-radius-5 u-size-30 u-image-5"
                  data-image-width="708" data-image-height="864">
                  <div class="u-container-layout u-container-layout-5">
                    <p class="u-text u-text-body-alt-color u-text-5">
                      Retail
                    </p>
                    <img class="u-image u-image-default u-preserve-proportions u-image-6" src="images/arrow-1.svg"
                      alt="" data-image-width="60" data-image-height="35" />
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20-lg u-size-20-md u-size-20-xl u-size-60-sm u-size-60-xs">
              <div class="u-layout-col">
                <div
                  class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-size-60-md u-layout-cell-6">
                  <div class="u-container-layout u-container-layout-6"></div>
                </div>
                <div
                  class="u-container-style u-hidden-sm u-hidden-xs u-image u-image-contain u-image-round u-layout-cell u-radius-5 u-size-20 u-size-30-md u-image-7"
                  data-image-width="754" data-image-height="920">
                  <div class="u-container-layout u-container-layout-7">
                    <p class="u-text u-text-body-alt-color u-text-6">
                      Restaurant
                    </p>
                    <img class="u-image u-image-default u-preserve-proportions u-image-8" src="images/arrow-1.svg"
                      alt="" data-image-width="60" data-image-height="35" />
                  </div>
                </div>
                <div
                  class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-size-30-md u-layout-cell-8">
                  <div class="u-container-layout u-container-layout-8"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-custom-color-2 u-section-5" id="carousel_7945">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-1" spellcheck="false">
        Get Ready To Reopen With Free Contac<span style="font-weight: 700"></span>tless Payment Solutions
      </h2>
      <p class="u-text u-text-2" spellcheck="false">
        We’ll help you create a custom solution that combines the hardware and
        software that makes sense for your business.
      </p>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div
              class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-1">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-1" data-image-width="680"
                data-image-height="600" src="images/Mobileand2x.png" />
              <p class="u-text u-text-3" spellcheck="false">
                Mobile and On​line Ordering
              </p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div
              class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-2" data-image-width="900"
                data-image-height="600" src="images/Cloud2x.png" />
              <p class="u-text u-text-4" spellcheck="false">
                Cloud&nbsp;<br />
                Point of Sale
              </p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-repeater-item">
            <div
              class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-3">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-3" data-image-width="680"
                data-image-height="600" src="images/Backofhouse2x.png" />
              <p class="u-text u-text-5" spellcheck="false">
                Back of house Management
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-image u-section-6" id="carousel_434a" data-image-width="1280" data-image-height="629">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-align-center u-text u-text-1" spellcheck="false">
        Hardware
      </h2>
      <p class="u-align-center u-text u-text-2" spellcheck="false">
        Shop restaurant-grade stations, cash drawers, receipt printers, and
        more. BOLD POS systems are designed for speed and durability.
      </p>
    </div>
  </section>
  <section class="u-clearfix u-section-7" id="sec-0310">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
      <h2 class="u-align-center u-text u-text-1" spellcheck="false">
        A Business Toolkit. For every Business.
      </h2>
      <p class="u-align-center u-text u-text-2" spellcheck="false">
        We’ll help you create a custom solution that combines the hardware and
        software that makes sense for your business.
      </p>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div
            class="u-container-style u-custom-color-3 u-list-item u-radius-25 u-repeater-item u-shape-round u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
                src="images/virtual_terminal.svg" alt="" data-image-width="61" data-image-height="60" />
              <p class="u-text u-text-default u-text-3" spellcheck="false">
                Virtu​al T<span style="font-weight: 700"></span>erminal
              </p>
              <p class="u-text u-text-4" spellcheck="false">
                Take payments over the phone and easily key them in on your
                computer instead of mobile device.
              </p>
              <a href="https://nicepage.one"
                class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-custom-color-1 u-text-hover-custom-color-1 u-btn-1">Learn
                more<br />
              </a>
              <img class="u-image u-image-default u-image-2" src="images/arrow-2.svg" alt="" data-image-width="15"
                data-image-height="11" />
            </div>
          </div>
          <div class="u-container-style u-custom-color-3 u-list-item u-radius-25 u-repeater-item u-shape-round">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3"
                src="images/gift_card_150.png" alt="" data-image-width="71" data-image-height="54" />
              <p class="u-text u-text-default u-text-5" spellcheck="false">
                Gift Cards
              </p>
              <p class="u-text u-text-6" spellcheck="false">
                Offer eGift Cards to increase cash flow while your business is
                closed or affected by social distancing.
              </p>
              <a href="https://nicepage.one"
                class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-custom-color-1 u-text-hover-custom-color-1 u-btn-2">Learn
                more</a>
              <img class="u-image u-image-default u-image-4" src="images/arrow-2.svg" alt="" data-image-width="15"
                data-image-height="11" />
            </div>
          </div>
          <div class="u-container-style u-custom-color-3 u-list-item u-radius-25 u-repeater-item u-shape-round">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-5"
                src="images/marketing_150.png" alt="" data-image-width="62" data-image-height="62" />
              <p class="u-text u-text-default u-text-7" spellcheck="false">
                Marketing
              </p>
              <p class="u-text u-text-8" spellcheck="false">
                Send a free email to let customers know about changing
                business hours and how to best support your business.
              </p>
              <a href="https://nicepage.one"
                class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-custom-color-1 u-text-hover-custom-color-1 u-btn-3">
                Learn more</a>
              <img class="u-image u-image-default u-image-6" src="images/arrow-2.svg" alt="" data-image-width="15"
                data-image-height="11" />
            </div>
          </div>
          <div class="u-container-style u-custom-color-3 u-list-item u-radius-25 u-repeater-item u-shape-round">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-7"
                src="images/dashboard_analytics_150.png" alt="" data-image-width="68" data-image-height="56" />
              <p class="u-text u-text-default u-text-9" spellcheck="false">
                Dashboard and Analytics
              </p>
              <p class="u-text u-text-10" spellcheck="false">
                Run real-time reports from any device and see how your
                business is doing from anywhere.
              </p>
              <a href="https://nicepage.one"
                class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-custom-color-1 u-text-hover-custom-color-1 u-btn-4">Learn
                more</a>
              <img class="u-image u-image-default u-image-8" src="images/arrow-2.svg" alt="" data-image-width="15"
                data-image-height="11" />
            </div>
          </div>
          <div class="u-container-style u-custom-color-3 u-list-item u-radius-25 u-repeater-item u-shape-round">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-9"
                src="images/retail_pos_150.png" alt="" data-image-width="67" data-image-height="73" />
              <p class="u-text u-text-default u-text-11" spellcheck="false">
                Retail POS
              </p>
              <p class="u-text u-text-12" spellcheck="false">
                Get the point of sale designed for retailers. Your inventory
                syncs across all your sales, online and in person.
              </p>
              <a href="https://nicepage.one"
                class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-custom-color-1 u-text-hover-custom-color-1 u-btn-5">Learn
                more</a>
              <img class="u-image u-image-default u-image-10" src="images/arrow-2.svg" alt="" data-image-width="15"
                data-image-height="11" />
            </div>
          </div>
          <div class="u-container-style u-custom-color-3 u-list-item u-radius-25 u-repeater-item u-shape-round">
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-11"
                src="images/restaurant-1_150.png" alt="" data-image-width="64" data-image-height="55" />
              <p class="u-text u-text-default u-text-13" spellcheck="false">
                Restaurant POS
              </p>
              <p class="u-text u-text-14" spellcheck="false">
                From full service to counter service, run restaurant faster
                with a POS built for restaurant of all types and size.
              </p>
              <a href="https://nicepage.one"
                class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-custom-color-1 u-text-hover-custom-color-1 u-btn-6">Learn
                more</a>
              <img class="u-image u-image-default u-image-12" src="images/arrow-2.svg" alt="" data-image-width="15"
                data-image-height="11" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-custom-color-3 u-section-8" id="carousel_5a0f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-container-style u-layout-cell u-size-24-xl u-size-26-lg u-size-26-md u-size-26-sm u-size-26-xs u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-body-color u-text-1" spellcheck="false">
                  Contact us&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <span style="font-size: 2.5rem"></span>
                  <span style="font-size: 2.5rem"></span>
                </h2>
                <h2 class="u-text u-text-body-color u-text-2" spellcheck="false">
                  and ge​t started with us.<br />
                </h2>
                <p class="u-align-left u-text u-text-body-color u-text-3" spellcheck="false">
                  17901 Von Karman Avenue Suite 600, Irvine, California, 92614
                </p>
                <img class="u-align-left u-image u-image-default u-preserve-proportions u-image-1"
                  src="images/location.svg" alt="" data-image-width="18" data-image-height="20" />
                <img class="u-align-left u-image u-image-default u-preserve-proportions u-image-2" src="images/Call.svg"
                  alt="" data-image-width="20" data-image-height="20" />
                <p class="u-align-left u-text u-text-body-color u-text-4" spellcheck="false">
                  (888) 888-8888
                </p>
                <img class="u-image u-image-default u-preserve-proportions u-image-3" src="images/mail.svg" alt=""
                  data-image-width="20" data-image-height="18" />
                <p class="u-text u-text-body-color u-text-5" spellcheck="false">
                  support@boldpos.com
                </p>
                <p class="u-align-left u-text u-text-6" spellcheck="false">
                  Fast setup. No long-term contract. Cancel anytime. Le​arn
                  how BOLD POS run and grow your business.
                </p>
              </div>
            </div>
            <div
              class="u-align-left u-container-style u-layout-cell u-palette-2-base u-radius-10 u-right-cell u-shape-round u-size-34-lg u-size-34-md u-size-34-sm u-size-34-xs u-size-36-xl u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <div class="u-expanded-width u-form u-white u-form-1">
                  <form action="//publish.nicepage.com/Form/Process" method="POST"
                    class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 0" source="email"
                    name="form">
                    <input type="hidden" id="siteId" name="siteId" value="2002486" />
                    <input type="hidden" id="pageId" name="pageId" value="2066454" />
                    <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top">
                      <label for="name-daf4" class="u-label u-text-body-color u-label-1">First Name</label>
                      <input type="text" placeholder="First Name" id="name-daf4" name="firstname"
                        class="u-border-2 u-border-custom-color-4 u-input u-input-rectangle u-radius-5 u-text-black u-input-1"
                        required="" spellcheck="false" />
                    </div>
                    <div class="u-form-address u-form-group u-form-partition-factor-2 u-label-top u-form-group-2">
                      <label for="address-7d20" class="u-label u-text-body-color u-label-2">Last Name</label>
                      <input type="text" placeholder="Last Name" id="address-7d20" name="lastname"
                        class="u-border-2 u-border-custom-color-4 u-input u-input-rectangle u-radius-5 u-text-black u-input-2"
                        required="" spellcheck="false" />
                    </div>
                    <div class="u-form-email u-form-group u-form-partition-factor-2 u-label-top u-form-group-3">
                      <label for="phone-966d" class="u-label u-text-body-color u-label-3">Email</label>
                      <input type="email"
                        pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
                        placeholder="e.g.yourname@gmail.com" id="phone-966d" name="email-1"
                        class="u-border-2 u-border-custom-color-4 u-input u-input-rectangle u-radius-5 u-text-black u-input-3"
                        required="required" />
                    </div>
                    <div class="u-form-group u-form-partition-factor-2 u-form-phone u-label-top">
                      <label for="email-daf4" class="u-label u-text-body-color u-label-4">Phone number</label>
                      <input type="tel" placeholder="e.g. (888) 888-8888" id="email-daf4" name="phonenumber"
                        class="u-border-2 u-border-custom-color-4 u-input u-input-rectangle u-radius-5 u-text-black u-input-4"
                        required="required" spellcheck="false" />
                    </div>
                    <div class="u-form-group u-form-message u-label-top">
                      <label for="message-daf4" class="u-label u-text-body-color u-label-5">Message</label>
                      <textarea placeholder="Write your message" rows="4" cols="50" id="message-daf4" name="message"
                        class="u-border-2 u-border-custom-color-4 u-input u-input-rectangle u-radius-5 u-text-black u-input-5"
                        required="" spellcheck="false"></textarea>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit u-label-top">
                      <input type="submit" value="submit" class="u-form-control-hidden" />
                      <a href="#"
                        class="u-active-custom-color-1 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-1 u-radius-5 u-btn-1">Submit</a>
                    </div>
                    <div class="u-form-send-message u-form-send-success">
                      Thank you! Your message has been sent.
                    </div>
                    <div class="u-form-send-error u-form-send-message">
                      Unable to send your message. Please fix errors then try
                      again.
                    </div>
                    <input type="hidden" value="" name="recaptchaResponse" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="u-clearfix u-footer u-grey-80" id="sec-4d75">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <p class="u-text u-text-default u-text-1">BOLD POS</p>
                <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="20"
                  data-image-height="33">
                  <img src="images/Group2_150.png" class="u-logo-image u-logo-image-1" />
                </a>
                <p class="u-text u-text-default u-text-2" spellcheck="false">
                  Blockchain Point of Sale
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h6 class="u-custom-font u-heading-font u-text u-text-3">
                  Point of Sale
                </h6>
                <p class="u-small-text u-text u-text-variant u-text-4">
                  Quick Service
                </p>
                <p class="u-small-text u-text u-text-variant u-text-5">
                  Service
                </p>
                <p class="u-small-text u-text u-text-variant u-text-6">
                  Retail
                </p>
                <p class="u-small-text u-text u-text-variant u-text-7">
                  Restaurant
                </p>
              </div>
            </div>
            <div
              class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
              <div class="u-container-layout u-container-layout-3">
                <h6 class="u-custom-font u-heading-font u-text u-text-8">
                  Support
                </h6>
                <p class="u-small-text u-text u-text-variant u-text-9">
                  Getting Started
                </p>
                <p class="u-small-text u-text u-text-variant u-text-10">
                  Help Center
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-50 u-line-1">
      </div>
      <p class="u-align-center-xs u-text u-text-11" spellcheck="false">
        © 2022 BOLD POS. All rights reserved.
      </p>
      <div class="u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href=""><span
            class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xlink:href="#svg-5826"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-5826">
              <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path>
            </svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href=""><span
            class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xlink:href="#svg-7e78"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-7e78">
              <circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path>
            </svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href=""><span
            class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xlink:href="#svg-1497"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-1497">
              <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF"
                d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z">
              </path>
              <path fill="#FFFFFF"
                d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path>
              <path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path>
            </svg></span>
        </a>
        <a class="u-social-url" title="pinterest" target="_blank" href=""><span
            class="u-icon u-social-icon u-social-pinterest u-icon-4"><svg class="u-svg-link"
              preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
              <use xlink:href="#svg-b8a9"></use>
            </svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-b8a9">
              <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
              <path fill="#FFFFFF" d="M61.1,76.9c-4.7-0.3-6.7-2.7-10.3-5c-2,10.7-4.6,20.9-11.9,26.2c-2.2-16.1,3.3-28.2,5.9-41
            c-4.4-7.5,0.6-22.5,9.9-18.8c11.6,4.6-10,27.8,4.4,30.7C74.2,72,80.3,42.8,71,33.4C57.5,19.6,31.7,33,34.9,52.6
            c0.8,4.8,5.8,6.2,2,12.9c-8.7-1.9-11.2-8.8-10.9-17.8C26.5,32.8,39.3,22.5,52.2,21c16.3-1.9,31.6,5.9,33.7,21.2
            C88.2,59.5,78.6,78.2,61.1,76.9z"></path>
            </svg></span>
        </a>
      </div>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
      <span>Website Templates</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
      <span>HTML Designer</span> </a>.
  </section>
  <span style="
        height: 64px;
        width: 64px;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 0px;
        right: 5px;
        bottom: 20px;
        padding: 10px;
        background-image: none;
      " class="u-back-to-top u-custom-color-1 u-icon u-icon-circle u-opacity u-opacity-80" data-href="#">
    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use>
    </svg>
    <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"
      xmlns="http://www.w3.org/2000/svg" id="svg-1d98">
      <path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path>
    </svg>
  </span>
</body>
<script>
  .u-section-1 {
   background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/home_banner2x.png");
   background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
   min-height: 892px;
  }

  .u-section-1 .u-text-1 {
   font-size: 3.25rem;
   font-weight: 700;
   margin: 228px 662px 0 0;
  }

  .u-section-1 .u-text-2 {
   font-size: 1.125rem;
   margin: 20px 575px 0 0;
  }

  .u-section-1 .u-text-3 {
   margin: 28px 703px 0 0;
  }

  .u-section-1 .u-btn-1 {
   border-style: none;
   font-weight: 700;
   font-size: 0.9375rem;
   background-image: none;
   margin: 38px auto 0 0;
   padding: 13px 53px;
  }

  .u-section-1 .u-image-1 {
   width: 24px;
   height: 13px;
   margin: -32px auto 60px 239px;
  }

  @media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
     min-height: 736px;
   }

   .u-section-1 .u-text-1 {
     margin-right: 462px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 375px;
   }

   .u-section-1 .u-text-3 {
     margin-right: 503px;
   }
  }

  @media (max-width: 991px) {
   .u-section-1 .u-sheet-1 {
     min-height: 713px;
   }

   .u-section-1 .u-text-1 {
     width: auto;
     margin-top: 79px;
     margin-right: 242px;
   }

   .u-section-1 .u-text-2 {
     width: auto;
     margin-top: 63px;
     margin-right: 155px;
   }

   .u-section-1 .u-text-3 {
     width: auto;
     margin-top: 41px;
     margin-right: 283px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: 36px;
   }

   .u-section-1 .u-image-1 {
     margin-left: 241px;
   }
  }

  @media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
     min-height: 822px;
   }

   .u-section-1 .u-text-1 {
     font-size: 4.5rem;
     margin-right: 0;
   }

   .u-section-1 .u-text-2 {
     margin-right: 0;
   }

   .u-section-1 .u-text-3 {
     margin-right: 103px;
   }
  }

  @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 518px;
   }

   .u-section-1 .u-text-1 {
     font-size: 3.75rem;
   }

   .u-section-1 .u-text-3 {
     margin-right: 0;
   }
  }.u-section-2 .u-sheet-1 {
   min-height: 1095px;
  }

  .u-section-2 .u-text-1 {
   font-size: 2.625rem;
   font-weight: 500;
   margin: 110px auto 0;
  }

  .u-section-2 .u-text-2 {
   font-size: 1.125rem;
   width: 587px;
   margin: 20px auto 0;
  }

  .u-section-2 .u-layout-wrap-1 {
   width: 397px;
   margin: 40px auto 0;
  }

  .u-section-2 .u-image-1 {
   min-height: 97px;
   background-image: url("images/apple_pay_150.png");
   background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-1 {
   padding: 30px;
  }

  .u-section-2 .u-image-2 {
   min-height: 97px;
   background-image: url("images/g_pay_150.png");
   background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-2 {
   padding: 30px;
  }

  .u-section-2 .u-image-3 {
   min-height: 97px;
   background-image: url("images/samsung_pay_150.png");
   background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-3 {
   padding: 30px;
  }

  .u-section-2 .u-image-4 {
   min-height: 97px;
   background-image: url("images/contactless_pay_150.png");
   background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-4 {
   padding: 30px;
  }

  .u-section-2 .u-text-3 {
   font-size: 1.125rem;
   width: 587px;
   margin: 40px auto 0;
  }

  .u-section-2 .u-list-1 {
   grid-template-rows: repeat(1, auto);
   margin-top: 29px;
   margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
   min-height: 423px;
   grid-gap: 10px;
  }

  .u-section-2 .u-container-layout-5 {
   padding: 30px 0 0;
  }

  .u-section-2 .u-image-5 {
   height: 275px;
   margin-top: 2px;
   margin-bottom: 0;
  }

  .u-section-2 .u-text-4 {
   font-size: 1.375rem;
   font-weight: 700;
   width: 198px;
   margin: 26px auto 0;
  }

  .u-section-2 .u-container-layout-6 {
   padding: 30px 0 0;
  }

  .u-section-2 .u-image-6 {
   height: 275px;
   margin-top: 2px;
   margin-bottom: 0;
  }

  .u-section-2 .u-text-5 {
   font-size: 1.375rem;
   font-weight: 700;
   width: 198px;
   margin: 26px auto 0;
  }

  .u-section-2 .u-container-layout-7 {
   padding: 30px 0 0;
  }

  .u-section-2 .u-image-7 {
   height: 275px;
   margin-top: 2px;
   margin-bottom: 0;
  }

  .u-section-2 .u-text-6 {
   font-size: 1.375rem;
   font-weight: 700;
   width: 198px;
   margin: 26px auto 0;
  }

  @media (max-width: 1199px) {
   .u-section-2 .u-sheet-1 {
     min-height: 954px;
   }

   .u-section-2 .u-text-1 {
     width: 590px;
     margin-top: 64px;
   }

   .u-section-2 .u-layout-wrap-1 {
     margin-top: 37px;
   }

   .u-section-2 .u-container-layout-2 {
     padding-left: 31px;
   }

   .u-section-2 .u-text-3 {
     margin-top: 29px;
   }

   .u-section-2 .u-list-1 {
     margin-top: 20px;
   }

   .u-section-2 .u-repeater-1 {
     min-height: 349px;
   }

   .u-section-2 .u-image-5 {
     height: 227px;
     margin-top: 0;
   }

   .u-section-2 .u-text-4 {
     width: 197px;
     margin-top: 20px;
   }

   .u-section-2 .u-image-6 {
     height: 227px;
     margin-top: 0;
   }

   .u-section-2 .u-text-5 {
     width: 197px;
     margin-top: 20px;
   }

   .u-section-2 .u-image-7 {
     height: 227px;
     margin-top: 0;
   }

   .u-section-2 .u-text-6 {
     width: 197px;
     margin-top: 20px;
   }
  }

  @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1435px;
   }

   .u-section-2 .u-text-1 {
     width: auto;
     margin-left: 67px;
     margin-right: 67px;
   }

   .u-section-2 .u-layout-wrap-1 {
     margin-top: 24px;
   }

   .u-section-2 .u-image-1 {
     min-height: 144px;
   }

   .u-section-2 .u-image-2 {
     min-height: 144px;
   }

   .u-section-2 .u-container-layout-2 {
     padding-left: 30px;
   }

   .u-section-2 .u-image-3 {
     min-height: 144px;
   }

   .u-section-2 .u-image-4 {
     min-height: 144px;
   }

   .u-section-2 .u-text-3 {
     width: auto;
     margin-top: 23px;
     margin-left: 67px;
     margin-right: 67px;
   }

   .u-section-2 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 5.0000025px));
     min-height: 802px;
   }

   .u-section-2 .u-image-5 {
     height: 261px;
   }

   .u-section-2 .u-text-4 {
     margin-top: 32px;
   }

   .u-section-2 .u-image-6 {
     height: 261px;
   }

   .u-section-2 .u-text-5 {
     margin-top: 32px;
   }

   .u-section-2 .u-image-7 {
     height: 261px;
   }

   .u-section-2 .u-text-6 {
     margin-top: 32px;
   }
  }

  @media (max-width: 767px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2155px;
   }

   .u-section-2 .u-text-1 {
     margin-top: 59px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-2 .u-text-2 {
     width: 540px;
   }

   .u-section-2 .u-image-1 {
     min-height: 139px;
   }

   .u-section-2 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-image-2 {
     min-height: 139px;
   }

   .u-section-2 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-image-3 {
     min-height: 139px;
   }

   .u-section-2 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-image-4 {
     min-height: 139px;
   }

   .u-section-2 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-text-3 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-2 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-2 .u-image-5 {
     height: 392px;
   }

   .u-section-2 .u-image-6 {
     height: 392px;
   }

   .u-section-2 .u-image-7 {
     height: 392px;
   }
  }

  @media (max-width: 575px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2080px;
   }

   .u-section-2 .u-text-1 {
     font-size: 1.5rem;
   }

   .u-section-2 .u-text-2 {
     width: 340px;
   }

   .u-section-2 .u-layout-wrap-1 {
     width: 340px;
   }

   .u-section-2 .u-image-1 {
     min-height: 119px;
   }

   .u-section-2 .u-image-2 {
     min-height: 119px;
   }

   .u-section-2 .u-image-3 {
     min-height: 119px;
   }

   .u-section-2 .u-image-4 {
     min-height: 119px;
   }

   .u-section-2 .u-image-5 {
     height: 321px;
   }

   .u-section-2 .u-image-6 {
     height: 321px;
   }

   .u-section-2 .u-image-7 {
     height: 321px;
   }
  } .u-section-3 {
   background-image: url("images/build_to_run.png");
   background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
   min-height: 1281px;
  }

  .u-section-3 .u-text-1 {
   font-size: 2.625rem;
   font-weight: 500;
   margin: 122px auto 0;
  }

  .u-section-3 .u-text-2 {
   font-size: 1.125rem;
   width: 587px;
   font-weight: 400;
   margin: 24px auto 60px;
  }

  @media (max-width: 1199px) {
   .u-section-3 .u-sheet-1 {
     min-height: 1056px;
   }

   .u-section-3 .u-text-1 {
     width: auto;
     margin-top: 73px;
   }

   .u-section-3 .u-text-2 {
     margin-top: 11px;
   }
  }

  @media (max-width: 991px) {
   .u-section-3 .u-sheet-1 {
     min-height: 809px;
   }

   .u-section-3 .u-text-1 {
     margin-top: 36px;
     margin-left: 67px;
     margin-right: 67px;
   }

   .u-section-3 .u-text-2 {
     width: auto;
     margin-top: 8px;
     margin-left: 67px;
     margin-right: 67px;
   }
  }

  @media (max-width: 767px) {
   .u-section-3 .u-sheet-1 {
     min-height: 936px;
   }

   .u-section-3 .u-text-1 {
     margin-top: 46px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-text-2 {
     margin-left: 0;
     margin-right: 0;
   }
  }

  @media (max-width: 575px) {
   .u-section-3 .u-sheet-1 {
     min-height: 589px;
   }

   .u-section-3 .u-text-1 {
     font-size: 1.5rem;
     margin-left: 2px;
     margin-right: 2px;
   }
  }.u-section-4 .u-sheet-1 {
   min-height: 883px;
  }

  .u-section-4 .u-text-1 {
   font-size: 2.625rem;
   width: 587px;
   font-weight: 500;
   margin: 60px auto 0;
  }

  .u-section-4 .u-text-2 {
   font-size: 1.125rem;
   width: 587px;
   margin: 20px auto 0;
  }

  .u-section-4 .u-layout-wrap-1 {
   width: 605px;
   margin: 7px auto 60px;
  }

  .u-section-4 .u-layout-cell-1 {
   min-height: 136px;
  }

  .u-section-4 .u-container-layout-1 {
   padding: 30px;
  }

  .u-section-4 .u-image-1 {
   min-height: 318px;
   background-image: url("images/quick_service2x.png");
   background-position: 50% 50%;
  }

  .u-section-4 .u-container-layout-2 {
   padding: 0;
  }

  .u-section-4 .u-text-3 {
   font-size: 1.125rem;
   margin: 195px 32px 0 9px;
  }

  .u-section-4 .u-image-2 {
   width: 30px;
   height: 18px;
   margin: 0 auto 0 9px;
  }

  .u-section-4 .u-layout-cell-3 {
   min-height: 136px;
  }

  .u-section-4 .u-container-layout-3 {
   padding: 30px;
  }

  .u-section-4 .u-image-3 {
   min-height: 322px;
   background-image: url("images/service2x.png");
   background-position: 50% 50%;
  }

  .u-section-4 .u-container-layout-4 {
   padding: 30px 12px 0;
  }

  .u-section-4 .u-text-4 {
   font-size: 1.125rem;
   margin: 162px 18px 0 0;
  }

  .u-section-4 .u-image-4 {
   width: 30px;
   height: 18px;
   margin: 9px auto 0 0;
  }

  .u-section-4 .u-image-5 {
   min-height: 268px;
   background-image: url("images/retail2x.png");
   background-position: 50% 50%;
  }

  .u-section-4 .u-container-layout-5 {
   padding: 0 20px;
  }

  .u-section-4 .u-text-5 {
   font-size: 1.125rem;
   margin: 163px 0 0;
  }

  .u-section-4 .u-image-6 {
   width: 30px;
   height: 18px;
   margin: 9px auto 0 0;
  }

  .u-section-4 .u-layout-cell-6 {
   min-height: 179px;
  }

  .u-section-4 .u-container-layout-6 {
   padding: 30px;
  }

  .u-section-4 .u-image-7 {
   min-height: 232px;
   background-image: url("images/restaurant2x.png");
   background-position: 50% 50%;
  }

  .u-section-4 .u-container-layout-7 {
   padding: 21px 12px;
  }

  .u-section-4 .u-text-6 {
   font-size: 1.125rem;
   margin: 116px 9px 0;
  }

  .u-section-4 .u-image-8 {
   width: 30px;
   height: 18px;
   margin: 9px auto -9px 9px;
  }

  .u-section-4 .u-layout-cell-8 {
   min-height: 179px;
  }

  .u-section-4 .u-container-layout-8 {
   padding: 30px;
  }

  @media (max-width: 1199px) {
   .u-section-4 .u-sheet-1 {
     min-height: 876px;
   }

   .u-section-4 .u-layout-wrap-1 {
     margin-top: 0;
   }
  }

  @media (max-width: 991px) {
   .u-section-4 .u-sheet-1 {
     min-height: 906px;
   }

   .u-section-4 .u-image-2 {
     margin-top: 20px;
   }
  }

  @media (max-width: 767px) {
   .u-section-4 .u-sheet-1 {
     min-height: 1070px;
   }

   .u-section-4 .u-text-1 {
     width: auto;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-4 .u-text-2 {
     width: 540px;
   }

   .u-section-4 .u-layout-wrap-1 {
     width: 540px;
     margin-top: 20px;
   }

   .u-section-4 .u-layout-cell-1 {
     min-height: 364px;
   }

   .u-section-4 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-image-1 {
     min-height: 865px;
   }

   .u-section-4 .u-container-layout-2 {
     padding-left: 30px;
     padding-right: 30px;
   }

   .u-section-4 .u-text-3 {
     width: auto;
     margin-top: 633px;
     margin-right: 41px;
     margin-left: 0;
   }

   .u-section-4 .u-image-2 {
     margin-left: 0;
   }

   .u-section-4 .u-layout-cell-3 {
     min-height: 364px;
   }

   .u-section-4 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-image-3 {
     min-height: 862px;
   }

   .u-section-4 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-text-4 {
     width: auto;
     margin-top: 603px;
   }

   .u-section-4 .u-image-5 {
     min-height: 718px;
   }

   .u-section-4 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-text-5 {
     width: auto;
     margin-top: 581px;
   }

   .u-section-4 .u-layout-cell-6 {
     min-height: 479px;
   }

   .u-section-4 .u-container-layout-6 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-image-7 {
     min-height: 8px;
   }

   .u-section-4 .u-container-layout-7 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-layout-cell-8 {
     min-height: 479px;
   }

   .u-section-4 .u-container-layout-8 {
     padding-left: 10px;
     padding-right: 10px;
   }
  }

  @media (max-width: 575px) {
   .u-section-4 .u-text-1 {
     font-size: 1.5rem;
   }

   .u-section-4 .u-text-2 {
     width: 340px;
   }

   .u-section-4 .u-layout-wrap-1 {
     width: 340px;
   }

   .u-section-4 .u-layout-cell-1 {
     min-height: 229px;
   }

   .u-section-4 .u-image-1 {
     min-height: 545px;
   }

   .u-section-4 .u-text-3 {
     margin-right: 0;
   }

   .u-section-4 .u-image-2 {
     margin-top: 0;
   }

   .u-section-4 .u-layout-cell-3 {
     min-height: 229px;
   }

   .u-section-4 .u-image-3 {
     min-height: 543px;
   }

   .u-section-4 .u-text-4 {
     margin-right: 0;
   }

   .u-section-4 .u-image-5 {
     min-height: 452px;
   }

   .u-section-4 .u-layout-cell-6 {
     min-height: 302px;
   }

   .u-section-4 .u-image-7 {
     min-height: 6px;
   }

   .u-section-4 .u-text-6 {
     margin-right: 0;
     margin-left: 0;
   }

   .u-section-4 .u-image-8 {
     margin-left: 0;
   }

   .u-section-4 .u-layout-cell-8 {
     min-height: 302px;
   }
  } .u-section-5 {
   background-image: none;
  }

  .u-section-5 .u-sheet-1 {
   min-height: 958px;
  }

  .u-section-5 .u-text-1 {
   font-weight: 500;
   width: 609px;
   font-size: 2.625rem;
   margin: 110px auto 0;
  }

  .u-section-5 .u-text-2 {
   font-size: 1.125rem;
   width: 587px;
   margin: 30px auto 0;
  }

  .u-section-5 .u-list-1 {
   grid-template-rows: repeat(1, auto);
   margin-top: 30px;
   margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
   min-height: 532px;
   grid-gap: 10px;
  }

  .u-section-5 .u-container-layout-1 {
   padding: 30px 0;
  }

  .u-section-5 .u-image-1 {
   height: 360px;
   margin-top: 2px;
   margin-bottom: 0;
  }

  .u-section-5 .u-text-3 {
   font-size: 1.375rem;
   font-weight: 700;
   margin: 13px 88px 0 99px;
  }

  .u-section-5 .u-container-layout-2 {
   padding: 30px 0;
  }

  .u-section-5 .u-image-2 {
   height: 360px;
   margin-top: 2px;
   margin-bottom: 0;
  }

  .u-section-5 .u-text-4 {
   font-size: 1.375rem;
   font-weight: 700;
   margin: 13px 88px 0 99px;
  }

  .u-section-5 .u-container-layout-3 {
   padding: 30px 0;
  }

  .u-section-5 .u-image-3 {
   height: 360px;
   margin-top: 2px;
   margin-bottom: 0;
  }

  .u-section-5 .u-text-5 {
   font-size: 1.375rem;
   font-weight: 700;
   margin: 13px 88px 0 99px;
  }

  @media (max-width: 1199px) {
   .u-section-5 .u-sheet-1 {
     min-height: 777px;
   }

   .u-section-5 .u-text-1 {
     width: 658px;
   }

   .u-section-5 .u-list-1 {
     margin-top: 0;
   }

   .u-section-5 .u-repeater-1 {
     grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
     min-height: 439px;
   }

   .u-section-5 .u-image-1 {
     height: 297px;
     margin-top: 0;
   }

   .u-section-5 .u-text-3 {
     width: 197px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-5 .u-image-2 {
     height: 297px;
     margin-top: 0;
   }

   .u-section-5 .u-text-4 {
     width: 197px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-5 .u-image-3 {
     height: 297px;
     margin-top: 0;
   }

   .u-section-5 .u-text-5 {
     width: 197px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
   }
  }

  @media (max-width: 991px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1299px;
   }

   .u-section-5 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 5.0000025px));
     min-height: 1009px;
   }

   .u-section-5 .u-image-1 {
     height: 341px;
   }

   .u-section-5 .u-text-3 {
     margin-top: 26px;
   }

   .u-section-5 .u-image-2 {
     height: 341px;
   }

   .u-section-5 .u-text-4 {
     margin-top: 26px;
   }

   .u-section-5 .u-image-3 {
     height: 341px;
   }

   .u-section-5 .u-text-5 {
     margin-top: 26px;
   }
  }

  @media (max-width: 767px) {
   .u-section-5 .u-sheet-1 {
     min-height: 2389px;
   }

   .u-section-5 .u-text-1 {
     width: 540px;
   }

   .u-section-5 .u-text-2 {
     width: 540px;
   }

   .u-section-5 .u-list-1 {
     margin-top: 34px;
     margin-bottom: 20px;
   }

   .u-section-5 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-5 .u-image-1 {
     height: 512px;
   }

   .u-section-5 .u-image-2 {
     height: 512px;
   }

   .u-section-5 .u-image-3 {
     height: 512px;
   }
  }

  @media (max-width: 575px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1927px;
   }

   .u-section-5 .u-text-1 {
     font-size: 1.5rem;
     width: 340px;
   }

   .u-section-5 .u-text-2 {
     width: 340px;
   }

   .u-section-5 .u-list-1 {
     margin-top: 36px;
   }

   .u-section-5 .u-image-1 {
     height: 321px;
   }

   .u-section-5 .u-image-2 {
     height: 321px;
   }

   .u-section-5 .u-image-3 {
     height: 321px;
   }
  } .u-section-6 {
   background-image: url("images/hardware_set2x.png");
   background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
   min-height: 942px;
  }

  .u-section-6 .u-text-1 {
   font-size: 2.625rem;
   font-weight: 500;
   width: 559px;
   margin: 111px auto 0;
  }

  .u-section-6 .u-text-2 {
   font-size: 1.125rem;
   width: 587px;
   font-weight: 400;
   margin: 24px auto 60px;
  }

  @media (max-width: 1199px) {
   .u-section-6 .u-sheet-1 {
     min-height: 777px;
   }

   .u-section-6 .u-text-1 {
     width: 184px;
     margin-top: 55px;
   }

   .u-section-6 .u-text-2 {
     margin-top: 28px;
   }
  }

  @media (max-width: 991px) {
   .u-section-6 .u-sheet-1 {
     min-height: 595px;
   }

   .u-section-6 .u-text-1 {
     margin-top: 33px;
   }

   .u-section-6 .u-text-2 {
     width: auto;
     margin-top: 10px;
     margin-left: 67px;
     margin-right: 67px;
   }
  }

  @media (max-width: 767px) {
   .u-section-6 .u-sheet-1 {
     min-height: 833px;
   }

   .u-section-6 .u-text-1 {
     margin-top: 18px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-text-2 {
     margin-top: 8px;
     margin-left: 0;
     margin-right: 0;
   }
  }

  @media (max-width: 575px) {
   .u-section-6 .u-sheet-1 {
     min-height: 524px;
   }

   .u-section-6 .u-text-1 {
     font-size: 1.5rem;
     margin-left: 2px;
     margin-right: 2px;
   }
  }.u-section-7 .u-sheet-1 {
   min-height: 1156px;
  }

  .u-section-7 .u-text-1 {
   font-size: 2.625rem;
   font-weight: 500;
   width: 403px;
   margin: 120px auto 0;
  }

  .u-section-7 .u-text-2 {
   font-size: 1.125rem;
   font-weight: 400;
   width: 587px;
   margin: 20px auto 0;
  }

  .u-section-7 .u-list-1 {
   margin-bottom: 60px;
   margin-top: 40px;
  }

  .u-section-7 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 18px));
   min-height: 742px;
   grid-gap: 27px;
  }

  .u-section-7 .u-list-item-1 {
   background-image: none;
  }

  .u-section-7 .u-container-layout-1 {
   padding: 10px 9px;
  }

  .u-section-7 .u-image-1 {
   width: 69px;
   height: 60px;
   margin: 52px auto 0 40px;
  }

  .u-section-7 .u-text-3 {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 14px auto 0 40px;
  }

  .u-section-7 .u-text-4 {
   font-size: 1rem;
   margin: 8px 28px 0 40px;
  }

  .u-section-7 .u-btn-1 {
   background-image: none;
   font-weight: 500;
   margin: 26px auto 0 40px;
   padding: 0;
  }

  .u-section-7 .u-image-2 {
   width: 15px;
   height: 11px;
   margin: -16px auto 0 135px;
  }

  .u-section-7 .u-container-layout-2 {
   padding: 10px 9px;
  }

  .u-section-7 .u-image-3 {
   width: 69px;
   height: 60px;
   margin: 52px auto 0 40px;
  }

  .u-section-7 .u-text-5 {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 14px auto 0 40px;
  }

  .u-section-7 .u-text-6 {
   font-size: 1rem;
   margin: 8px 28px 0 40px;
  }

  .u-section-7 .u-btn-2 {
   background-image: none;
   font-weight: 500;
   margin: 26px auto 0 40px;
   padding: 0;
  }

  .u-section-7 .u-image-4 {
   width: 15px;
   height: 11px;
   margin: -16px auto 0 135px;
  }

  .u-section-7 .u-container-layout-3 {
   padding: 10px 9px;
  }

  .u-section-7 .u-image-5 {
   width: 69px;
   height: 60px;
   margin: 52px auto 0 40px;
  }

  .u-section-7 .u-text-7 {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 14px auto 0 40px;
  }

  .u-section-7 .u-text-8 {
   font-size: 1rem;
   margin: 8px 28px 0 40px;
  }

  .u-section-7 .u-btn-3 {
   background-image: none;
   font-weight: 500;
   margin: 26px auto 0 40px;
   padding: 0;
  }

  .u-section-7 .u-image-6 {
   width: 15px;
   height: 11px;
   margin: -16px auto 0 135px;
  }

  .u-section-7 .u-container-layout-4 {
   padding: 10px 9px;
  }

  .u-section-7 .u-image-7 {
   width: 69px;
   height: 60px;
   margin: 52px auto 0 40px;
  }

  .u-section-7 .u-text-9 {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 14px auto 0 40px;
  }

  .u-section-7 .u-text-10 {
   font-size: 1rem;
   margin: 8px 28px 0 40px;
  }

  .u-section-7 .u-btn-4 {
   background-image: none;
   font-weight: 500;
   margin: 26px auto 0 40px;
   padding: 0;
  }

  .u-section-7 .u-image-8 {
   width: 15px;
   height: 11px;
   margin: -16px auto 0 135px;
  }

  .u-section-7 .u-container-layout-5 {
   padding: 10px 9px;
  }

  .u-section-7 .u-image-9 {
   width: 69px;
   height: 60px;
   margin: 52px auto 0 40px;
  }

  .u-section-7 .u-text-11 {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 14px auto 0 40px;
  }

  .u-section-7 .u-text-12 {
   font-size: 1rem;
   margin: 8px 28px 0 40px;
  }

  .u-section-7 .u-btn-5 {
   background-image: none;
   font-weight: 500;
   margin: 26px auto 0 40px;
   padding: 0;
  }

  .u-section-7 .u-image-10 {
   width: 15px;
   height: 11px;
   margin: -16px auto 0 135px;
  }

  .u-section-7 .u-container-layout-6 {
   padding: 10px 9px;
  }

  .u-section-7 .u-image-11 {
   width: 69px;
   height: 60px;
   margin: 52px auto 0 40px;
  }

  .u-section-7 .u-text-13 {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 14px auto 0 40px;
  }

  .u-section-7 .u-text-14 {
   font-size: 1rem;
   margin: 8px 28px 0 40px;
  }

  .u-section-7 .u-btn-6 {
   background-image: none;
   font-weight: 500;
   margin: 26px auto 0 40px;
   padding: 0;
  }

  .u-section-7 .u-image-12 {
   width: 15px;
   height: 11px;
   margin: -16px auto 0 135px;
  }

  @media (max-width: 1199px) {
   .u-section-7 .u-sheet-1 {
     min-height: 1225px;
   }

   .u-section-7 .u-text-1 {
     width: 393px;
     margin-top: 67px;
   }

   .u-section-7 .u-text-2 {
     margin-top: 21px;
     margin-right: 177px;
   }

   .u-section-7 .u-list-1 {
     margin-top: 91px;
   }

   .u-section-7 .u-repeater-1 {
     min-height: 612px;
   }

   .u-section-7 .u-image-1 {
     margin-top: 36px;
     margin-left: 24px;
   }

   .u-section-7 .u-text-3 {
     width: auto;
     margin-left: 24px;
   }

   .u-section-7 .u-text-4 {
     width: auto;
     margin-left: 24px;
     margin-right: 24px;
   }

   .u-section-7 .u-btn-1 {
     border-style: none none solid;
     margin-left: 24px;
   }

   .u-section-7 .u-image-2 {
     margin-left: 117px;
   }

   .u-section-7 .u-image-3 {
     margin-top: 36px;
     margin-left: 24px;
   }

   .u-section-7 .u-text-5 {
     width: auto;
     margin-left: 24px;
   }

   .u-section-7 .u-text-6 {
     width: auto;
     margin-left: 24px;
     margin-right: 24px;
   }

   .u-section-7 .u-btn-2 {
     border-style: none none solid;
     margin-left: 24px;
   }

   .u-section-7 .u-image-4 {
     margin-left: 117px;
   }

   .u-section-7 .u-image-5 {
     margin-top: 36px;
     margin-left: 24px;
   }

   .u-section-7 .u-text-7 {
     width: auto;
     margin-left: 24px;
   }

   .u-section-7 .u-text-8 {
     width: auto;
     margin-left: 24px;
     margin-right: 24px;
   }

   .u-section-7 .u-btn-3 {
     border-style: none none solid;
     margin-left: 24px;
   }

   .u-section-7 .u-image-6 {
     margin-left: 117px;
   }

   .u-section-7 .u-image-7 {
     margin-top: 36px;
     margin-left: 24px;
   }

   .u-section-7 .u-text-9 {
     width: auto;
     margin-left: 24px;
   }

   .u-section-7 .u-text-10 {
     width: auto;
     margin-left: 24px;
     margin-right: 24px;
   }

   .u-section-7 .u-btn-4 {
     border-style: none none solid;
     margin-left: 24px;
   }

   .u-section-7 .u-image-8 {
     margin-left: 117px;
   }

   .u-section-7 .u-image-9 {
     margin-top: 36px;
     margin-left: 24px;
   }

   .u-section-7 .u-text-11 {
     width: auto;
     margin-left: 24px;
   }

   .u-section-7 .u-text-12 {
     width: auto;
     margin-left: 24px;
     margin-right: 24px;
   }

   .u-section-7 .u-btn-5 {
     border-style: none none solid;
     margin-left: 24px;
   }

   .u-section-7 .u-image-10 {
     margin-left: 117px;
   }

   .u-section-7 .u-image-11 {
     margin-top: 36px;
     margin-left: 24px;
   }

   .u-section-7 .u-text-13 {
     width: auto;
     margin-left: 24px;
   }

   .u-section-7 .u-text-14 {
     width: auto;
     margin-left: 24px;
     margin-right: 24px;
   }

   .u-section-7 .u-btn-6 {
     border-style: none none solid;
     margin-left: 24px;
   }

   .u-section-7 .u-image-12 {
     margin-left: 117px;
   }
  }

  @media (max-width: 991px) {
   .u-section-7 .u-sheet-1 {
     min-height: 1398px;
   }

   .u-section-7 .u-text-1 {
     margin-top: 49px;
   }

   .u-section-7 .u-text-2 {
     width: auto;
     margin-top: 30px;
     margin-left: 67px;
     margin-right: 67px;
   }

   .u-section-7 .u-list-1 {
     margin-top: 20px;
   }

   .u-section-7 .u-repeater-1 {
     min-height: 1055px;
     grid-template-columns: repeat(2, calc(50% - 13.5px));
   }

   .u-section-7 .u-text-4 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-1 {
     margin-left: 0;
   }

   .u-section-7 .u-text-6 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-2 {
     margin-left: 0;
   }

   .u-section-7 .u-text-8 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-3 {
     margin-left: 0;
   }

   .u-section-7 .u-text-10 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-4 {
     margin-left: 0;
   }

   .u-section-7 .u-text-12 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-5 {
     margin-left: 0;
   }

   .u-section-7 .u-text-14 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-6 {
     margin-left: 0;
   }
  }

  @media (max-width: 767px) {
   .u-section-7 .u-sheet-1 {
     min-height: 1882px;
   }

   .u-section-7 .u-text-2 {
     margin-left: 0;
     margin-right: auto;
   }

   .u-section-7 .u-list-1 {
     margin-bottom: 49px;
   }

   .u-section-7 .u-repeater-1 {
     min-height: 1583px;
     grid-template-columns: 100%;
   }

   .u-section-7 .u-container-layout-1 {
     padding-top: 0;
     padding-bottom: 18px;
   }

   .u-section-7 .u-image-1 {
     margin-top: 21px;
   }

   .u-section-7 .u-text-4 {
     margin-right: 20px;
     margin-left: 24px;
   }

   .u-section-7 .u-btn-1 {
     margin-top: 13px;
     margin-left: 24px;
   }

   .u-section-7 .u-image-2 {
     margin-top: -18px;
     margin-left: 120px;
   }

   .u-section-7 .u-container-layout-2 {
     padding-top: 0;
     padding-bottom: 18px;
   }

   .u-section-7 .u-image-3 {
     margin-top: 21px;
   }

   .u-section-7 .u-text-6 {
     margin-right: 20px;
     margin-left: 24px;
   }

   .u-section-7 .u-btn-2 {
     margin-top: 13px;
     margin-left: 24px;
   }

   .u-section-7 .u-image-4 {
     margin-top: -18px;
     margin-left: 120px;
   }

   .u-section-7 .u-container-layout-3 {
     padding-top: 0;
     padding-bottom: 18px;
   }

   .u-section-7 .u-image-5 {
     margin-top: 21px;
   }

   .u-section-7 .u-text-8 {
     margin-right: 20px;
     margin-left: 24px;
   }

   .u-section-7 .u-btn-3 {
     margin-top: 13px;
     margin-left: 24px;
   }

   .u-section-7 .u-image-6 {
     margin-top: -18px;
     margin-left: 120px;
   }

   .u-section-7 .u-container-layout-4 {
     padding-top: 0;
     padding-bottom: 18px;
   }

   .u-section-7 .u-image-7 {
     margin-top: 21px;
   }

   .u-section-7 .u-text-10 {
     margin-right: 20px;
     margin-left: 24px;
   }

   .u-section-7 .u-btn-4 {
     margin-top: 13px;
     margin-left: 24px;
   }

   .u-section-7 .u-image-8 {
     margin-top: -18px;
     margin-left: 120px;
   }

   .u-section-7 .u-container-layout-5 {
     padding-top: 0;
     padding-bottom: 18px;
   }

   .u-section-7 .u-image-9 {
     margin-top: 21px;
   }

   .u-section-7 .u-text-12 {
     margin-right: 20px;
     margin-left: 24px;
   }

   .u-section-7 .u-btn-5 {
     margin-top: 13px;
     margin-left: 24px;
   }

   .u-section-7 .u-image-10 {
     margin-top: -18px;
     margin-left: 120px;
   }

   .u-section-7 .u-container-layout-6 {
     padding-top: 0;
     padding-bottom: 18px;
   }

   .u-section-7 .u-image-11 {
     margin-top: 21px;
   }

   .u-section-7 .u-text-14 {
     margin-right: 20px;
     margin-left: 24px;
   }

   .u-section-7 .u-btn-6 {
     margin-top: 13px;
     margin-left: 24px;
   }

   .u-section-7 .u-image-12 {
     margin-top: -18px;
     margin-left: 120px;
   }
  }

  @media (max-width: 575px) {
   .u-section-7 .u-text-1 {
     font-size: 1.5rem;
     width: 340px;
   }

   .u-section-7 .u-text-4 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-1 {
     margin-left: 0;
   }

   .u-section-7 .u-text-6 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-2 {
     margin-left: 0;
   }

   .u-section-7 .u-text-8 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-3 {
     margin-left: 0;
   }

   .u-section-7 .u-text-10 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-4 {
     margin-left: 0;
   }

   .u-section-7 .u-text-12 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-5 {
     margin-left: 0;
   }

   .u-section-7 .u-text-14 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-btn-6 {
     margin-left: 0;
   }
  } .u-section-8 {
   background-image: none;
  }

  .u-section-8 .u-sheet-1 {
   min-height: 607px;
  }

  .u-section-8 .u-layout-wrap-1 {
   margin-top: 63px;
   margin-bottom: 60px;
  }

  .u-section-8 .u-layout-cell-1 {
   min-height: 481px;
  }

  .u-section-8 .u-container-layout-1 {
   padding: 30px 0;
  }

  .u-section-8 .u-text-1 {
   margin: 16px 0 0;
  }

  .u-section-8 .u-text-2 {
   margin: 0;
  }

  .u-section-8 .u-text-3 {
   font-size: 1.125rem;
   margin: 25px 37px 0;
  }

  .u-section-8 .u-image-1 {
   width: 18px;
   height: 20px;
   margin: -50px auto 0 0;
  }

  .u-section-8 .u-image-2 {
   width: 20px;
   height: 20px;
   margin: 58px auto 0 0;
  }

  .u-section-8 .u-text-4 {
   font-size: 1.125rem;
   margin: -24px 36px 0;
  }

  .u-section-8 .u-image-3 {
   width: 20px;
   height: 18px;
   margin: 24px auto 0 -1px;
  }

  .u-section-8 .u-text-5 {
   font-size: 1.125rem;
   background-image: none;
   margin: -25px 34px 0 37px;
  }

  .u-section-8 .u-text-6 {
   font-size: 1.125rem;
   margin: 23px 37px 0 0;
  }

  .u-section-8 .u-layout-cell-2 {
   min-height: 481px;
   background-image: none;
  }

  .u-section-8 .u-container-layout-2 {
   padding: 30px 30px 23px;
  }

  .u-section-8 .u-form-1 {
   height: 317px;
   background-image: none;
   margin: 0 -60px 0 0;
  }

  .u-section-8 .u-label-1 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-input-1 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-form-group-2 {
   margin-left: 0;
  }

  .u-section-8 .u-label-2 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-input-2 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-form-group-3 {
   margin-left: 0;
  }

  .u-section-8 .u-label-3 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-input-3 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-label-4 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-input-4 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-label-5 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-input-5 {
   font-size: 0.8125rem;
  }

  .u-section-8 .u-btn-1 {
   border-style: none;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   background-image: none;
   width: 50%;
   padding: 10px 31px 10px 29px;
  }

  @media (max-width: 1199px) {
   .u-section-8 .u-sheet-1 {
     min-height: 665px;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 522px;
   }

   .u-section-8 .u-container-layout-1 {
     padding-bottom: 14px;
   }

   .u-section-8 .u-text-3 {
     width: auto;
     margin-right: 18px;
     margin-left: 41px;
   }

   .u-section-8 .u-image-1 {
     margin-top: -49px;
     margin-left: 3px;
   }

   .u-section-8 .u-image-2 {
     margin-top: 62px;
     margin-left: 3px;
   }

   .u-section-8 .u-text-4 {
     width: auto;
     margin-top: -25px;
     margin-right: 34px;
     margin-left: 41px;
   }

   .u-section-8 .u-image-3 {
     margin-top: 45px;
     margin-left: 3px;
   }

   .u-section-8 .u-text-5 {
     width: auto;
     margin-top: -23px;
     margin-right: 18px;
     margin-left: 41px;
   }

   .u-section-8 .u-text-6 {
     width: auto;
     margin-top: 28px;
     margin-right: 18px;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 522px;
   }

   .u-section-8 .u-form-1 {
     margin-right: initial;
     margin-left: initial;
   }
  }

  @media (max-width: 991px) {
   .u-section-8 .u-sheet-1 {
     min-height: 353px;
   }

   .u-section-8 .u-layout-wrap-1 {
     position: relative;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-8 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-8 .u-text-3 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-8 .u-image-1 {
     margin-top: 20px;
   }

   .u-section-8 .u-text-4 {
     margin-top: 20px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-8 .u-text-5 {
     margin-top: 20px;
     margin-right: 0;
     margin-left: 0;
   }

   .u-section-8 .u-text-6 {
     margin-right: 0;
   }

   .u-section-8 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-8 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }
  }

  @media (max-width: 767px) {
   .u-section-8 .u-sheet-1 {
     min-height: 1084px;
   }

   .u-section-8 .u-layout-wrap-1 {
     margin-top: 52px;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 446px;
   }

   .u-section-8 .u-container-layout-1 {
     padding: 14px 0 73px;
   }

   .u-section-8 .u-text-1 {
     margin-top: 32px;
   }

   .u-section-8 .u-text-3 {
     margin-top: 16px;
     margin-right: 28px;
     margin-left: 38px;
   }

   .u-section-8 .u-image-1 {
     margin-top: -53px;
     margin-left: 0;
   }

   .u-section-8 .u-image-2 {
     margin-top: 52px;
   }

   .u-section-8 .u-text-4 {
     margin-top: -27px;
     margin-right: 28px;
     margin-left: 38px;
   }

   .u-section-8 .u-image-3 {
     margin-top: 42px;
   }

   .u-section-8 .u-text-5 {
     margin-top: -23px;
     margin-right: 28px;
     margin-left: 38px;
   }

   .u-section-8 .u-text-6 {
     margin-left: 15px;
     margin-right: 15px;
   }
  }

  @media (max-width: 575px) {
   .u-section-8 .u-sheet-1 {
     min-height: 816px;
   }

   .u-section-8 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-8 .u-container-layout-1 {
     padding-bottom: 30px;
   }

   .u-section-8 .u-text-2 {
     margin-top: 20px;
   }

   .u-section-8 .u-text-3 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-8 .u-image-1 {
     margin-top: 20px;
   }

   .u-section-8 .u-text-4 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-8 .u-text-5 {
     margin-right: 0;
     margin-left: 0;
   }

   .u-section-8 .u-text-6 {
     margin-right: 0;
     margin-left: 0;
   }
  }
</script>
